.hero {
    background-image: url("../img/machuw1.webp");
    height: 70vh;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    color: rgb(252, 248, 248);
    text-align: center;
    background-color: rgb(131, 180, 165);
}