@import url('https://fonts.googleapis.com/css2? familia= Nunito+Sans & display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
}

main {
    background-color: rgb(131, 180, 165);
}

@media (orientation: portrait) {
    .hero {
        background-image: url("../img/travel2.jpg");
    }
}

.main-servicios {
    padding: 2rem;
}

p {
    text-align: center;
}
